.header{
    margin-top: 40px;

}


.headerimg{
<<<<<<< HEAD
    height: 500px;
    width: 95%;
    margin-left: 20px;
=======
    height: 450px;
    width: 100%;
>>>>>>> 411a570a85de9fd6be22c6ea76a3260afbc1506f
    
}
@media screen and (max-width: 555px) {
    .header{
    width: 81vh;    
    }
    .headerimg{
     height: 350px;
     width: 100%;

        
    }
      }
      @media screen and (max-width: 530px) {
        .header{
        width: 80vh;    
        }
        .headerimg{
         height: 350px;
         width: 100%;
    
            
        }
          }

     
    
    